---
---



.page-header {
    background-image: url("../../assets/images/header_background.jpg");
    background-size: cover;
}

.project-name {
    color: white;
    text-shadow: 1px 3px 0 #969696;

}


.site-footer {
    font-size: 0.8rem;
}